@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #e5e5e5;
}

main {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  max-width: 1440px;
  max-height: 1024px;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  flex-direction: column;
}

button:disabled {
  cursor: not-allowed;
}

.Spinner {
  animation: spin 1s linear infinite;
}

.FullPageSpinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middleSpinner {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customScroll::-webkit-scrollbar-track {
  background-color: #e7e7e7;
}
.customScroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #41522e;
}
.customScroll::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*----------------------------------------------AUTH_FORM------------------------------------------------------------------------*/
.authContainer {
  background-image: url(../../img/AuthBack.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authForm {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  width: 409px;
  height: 400px;
}

.inputField {
  display: flex;
  flex-direction: column;
  font-weight: 500;
}
.inputField input {
  border: 1px solid #c9cacc;
  height: 50px;
  border-radius: 4px;
  padding: 16px;
}
.inputField label {
  color: #424242;
  padding-bottom: 7px;
}

.signInButton {
  background: linear-gradient(104.34deg, #41522e -15.34%, #be8022 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  line-height: 125%;
  color: white;
  padding: 7px;
  height: 50px;
  border: 0px;
  cursor: pointer;
}

.authFormH1 {
  font-size: 1.3rem;
  line-height: 28px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.errorBlock {
  font-size: 0.75rem;
  height: 20px;
}

.isError {
  color: red !important;
  border-color: red !important;
}

/*--------------------------------------------InputSection-----------------------------------------------------------------*/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-self: flex-start;
  padding: 32px 31px;
  align-items: center;
  min-width: 1200px;
}

.headerH1 {
  color: #424242;
  font-size: 1.5rem;
}

.logoutButton {
  background-color: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  gap: 15px;
  align-items: center;
  color: #41522e;
}

.rightBar {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.mainContent {
  width: 664px;
  height: 902px;
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 48px 32px 52px;
  min-width: 664px;
}

.inputSection {
  background: #ffffff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  width: 360px;
  height: 410px;
  padding: 32px;
}

.inputSectionContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mainSection {
  width: 100%;
  padding: 0 196px;
  display: flex;
  gap: 24px;
}

.signInButtonInputSection {
  margin-top: 24px;
}

#date {
  background: url("../../img/calendarIcon.svg") no-repeat scroll 260px 16px;
}

.calendarBlock {
  position: absolute;
  margin: 50px 0px 0px 300px;
}

/*--------------------------------------------------MainContent-------------------------------------------------------*/
.mainContentH2 {
  font-weight: 500;
  font-size: 1.75rem;
  word-spacing: 0.5rem;
}

.mainContentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.startDate {
  color: #41522e;
  font-size: 1.5rem;
}

.imagesBlock {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 20px 0;
  height: 200px;
}
.imagesBlock:hover {
  overflow-x: scroll;
}

.hotelsInFavourite {
  padding: 20px 0px;
}

.imageBlockImg {
  height: 169px;
}

.hotelElementContainer {
  overflow-y: scroll;
  max-height: 550px;
  padding: 0 7px;
}

/*---------------------------------------------HOTEL_ELEMENT----------------------------------------------------*/
.hotelElement {
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  padding: 16px;
  display: flex;
  gap: 15px;
}

.hotelImg {
  flex-basis: 10%;
}

.textInfo1 {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textInfo2 {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotelElementH3 {
  font-weight: 300;
  font-size: 1rem;
}

.hotelElementP {
  justify-content: space-between;
  font-size: 0.85rem;
  color: #878787;
  display: flex;
  align-items: center;
}
.hotelElementP span {
  color: #424242;
  font-size: 1rem;
  font-weight: 400;
}

.stars {
  display: flex;
  gap: 2px;
}

.likeButton {
  background: inherit;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
